<section class="section">
    <div class="row">
        <div class="col-12">
            <%- include('/admin/settings/categories/partials/general'); -%>
        </div>
      
        <div class="row mx-0 justify-content-end">
            <button class="btn float-right-btn btn-primary py-2" id="save">
                <i class="fa fa-floppy-o" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</section>