<% try { %>
    <% if (!hidePageHeader) { %>

        <div class="page-header">
            <h3 class="page-title"><%= navHeading %></h3>

            <%- include('/admin/partials/breadcrumb'); -%>

        </div>
    <% } %>
<% } catch (err) {} %>