<% try { %>
    <% if (!hidePageHeader) { %>
        <div class="pagetitle">
            <div class="page-header">
                <h1 class="page-title"><%= navHeading %></h1>

                <%- include('/admin/partials/breadcrumb'); -%>

            </div>
        </div>
    <% } %>
<% } catch (err) {} %>