<div class="card-body">
    <form>
        <div class="form-group my-1">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username"
                aria-describedby="usernameHelp" placeholder="Enter your username"
                value="<%= profile.username %>">
            <small id="usernameHelp" class="form-text text-muted">After changing your username,
                your old username becomes available for anyone else to claim.</small>
        </div>
        <hr>
        <div class="form-group my-1">
            <label class="d-block text-danger">Delete Account</label>
            <p class="text-muted font-size-sm">Once you delete your account, there is no going
                back. Please be certain.</p>
        </div>
        <button class="btn btn-danger" type="button">Delete Account</button>
    </form>
</div>