<div class="dropdown">
    <button class="btn p-0" type="button" id="post-<%= post.postId %>"
        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
            viewbox="0 0 24 24" fill="none" stroke="currentColor"
            stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-more-horizontal icon-lg pb-3px">
            <circle cx="12" cy="12" r="1"></circle>
            <circle cx="19" cy="12" r="1"></circle>
            <circle cx="5" cy="12" r="1"></circle>
        </svg>
    </button>
    <%- include('/users/partials/dropdown_menu', {post: post}); -%>
</div>