<div class="dropdown-menu shadow border">
    <a class="dropdown-item d-flex align-items-center" href="#">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
            viewbox="0 0 24 24" fill="none" stroke="currentColor"
            stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-meh icon-sm me-2">
            <circle cx="12" cy="12" r="10"></circle>
            <line x1="8" y1="15" x2="16" y2="15"></line>
            <line x1="9" y1="9" x2="9.01" y2="9"></line>
            <line x1="15" y1="9" x2="15.01" y2="9"></line>
        </svg> <span class>Unfollow user</span></a>
    <a class="dropdown-item d-flex align-items-center" href="/posts/<%= post.slug %>">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
            viewbox="0 0 24 24" fill="none" stroke="currentColor"
            stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-corner-right-up icon-sm me-2">
            <polyline points="10 9 15 4 20 9"></polyline>
            <path d="M4 20h7a4 4 0 0 0 4-4V4"></path>
        </svg> <span class>Go to post</span></a>
    <a class="dropdown-item d-flex align-items-center" href="#">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
            viewbox="0 0 24 24" fill="none" stroke="currentColor"
            stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-share-2 icon-sm me-2">
            <circle cx="18" cy="5" r="3"></circle>
            <circle cx="6" cy="12" r="3"></circle>
            <circle cx="18" cy="19" r="3"></circle>
            <line x1="8.59" y1="13.51" x2="15.42" y2="17.49"></line>
            <line x1="15.41" y1="6.51" x2="8.59" y2="10.49"></line>
        </svg> <span class>Share</span></a>
    <a class="dropdown-item d-flex align-items-center" data-copy="<%= _host %>/posts/<%= post.slug %>" href="#">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
            viewbox="0 0 24 24" fill="none" stroke="currentColor"
            stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-copy icon-sm me-2">
            <rect x="9" y="9" width="13" height="13" rx="2" ry="2"></rect>
            <path
                d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1">
            </path>
        </svg> <span class>Copy link</span></a>
</div>