<div class="card-body px-4">
    <form id="password-change-form">
        <div class="form-group my-1">
            <label class="d-block">Change Password</label>
            <input required type="password" name="oldPassword" class="form-control my-3" placeholder="Enter your old password">

            <input required type="password" id="new-password" name="password" class="form-control my-3" placeholder="New password">
            <div id="password-status" class="show-input-status text-danger"></div>
            <div id="password-strength-text" class="show-input-status" style="color: #626262; display: none;"></div>


            <input required type="text" name="confirmPassword" class="form-control mt-3" placeholder="Confirm new password">
            <div id="confirm-status" class="show-input-status text-danger"></div>
        </div>

        <div class="form-group mt-4">
            <button type="submit" style="width: 155px;" class="btn btn-dark">Change password</button>
        </div>
    </form>
</div>