<div class="card-body px-4">
    <form>
        <div class="form-group my-1">
            <label class="d-block">Change Password</label>
            <input type="text" class="form-control my-3" placeholder="Enter your old password">
            <input type="text" class="form-control my-3" placeholder="New password">
            <input type="text" class="form-control my-3" placeholder="Confirm new password">
        </div>
    </form>
</div>