<div class="card-body">
    <form>
        <div class="form-group my-1">
            <label for="fullName">Full Name</label>
            <input type="text" class="form-control" id="fullName" aria-describedby="fullNameHelp"
                placeholder="Enter your fullname" value="Kenneth Valdez">
            <small id="fullNameHelp" class="form-text text-muted">Your name may appear around
                here where you are mentioned. You can change or remove it at any time.</small>
        </div>
        <div class="form-group my-1">
            <label for="bio">Your Bio</label>
            <textarea type="text" class="form-control autosize" id="bio" placeholder="Write something about you"
                style="overflow: hidden; overflow-wrap: break-word; resize: none; height: 62px;">A front-end developer that focus more on user interface design, a web interface wizard, a connector of awesomeness.</textarea>
        </div>
        <div class="form-group my-1">
            <label for="url">URL</label>
            <input type="text" class="form-control" id="url" placeholder="Enter your website address"
                value="http://benije.ke/pozzivkij">
        </div>
        <div class="form-group my-1">
            <label for="location">Location</label>
            <input type="text" class="form-control" id="location" placeholder="Enter your location"
                value="Bay Area, San Francisco, CA">
        </div>
        <div class="form-group my-1 small text-muted">
            All of the fields on this page are optional and can be deleted at any time, and by
            filling them out, you're giving us consent to share this data wherever your user
            profile appears.
        </div>
        <div class="form-group mt-4">
            <button type="button" class="btn btn-dark">Update Profile</button>
            <button type="reset" class="btn btn-light">Reset Changes</button>
        </div>
    </form>
</div>