/* Material icons initialization styles */
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 500,
    'GRAD' 0,
    'opsz' 48
  }

/* Global styles */

.cursor-pointer {
    cursor: pointer;
}

/* Global styles end here */

/* 404 page Styles */

#notfound {
    position: relative;
    height: 100vh;
  }
  
  #notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  
  .notfound {
    max-width: 560px;
    width: 100%;
    padding-left: 160px;
    line-height: 1.1;
  }
  
  .notfound .notfound-404 {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    width: 140px;
    height: 140px;
    background-image: url('../images/emoji.png');
    background-size: cover;
  }
  
  .notfound .notfound-404:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(2.4);
        -ms-transform: scale(2.4);
            transform: scale(2.4);
    border-radius: 50%;
    background-color: #f2f5f8;
    z-index: -1;
  }
  
  .notfound h1 {
    font-family: 'Nunito', sans-serif;
    font-size: 65px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 10px;
    color: #151723;
    text-transform: uppercase;
  }
  
  .notfound h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 21px;
    font-weight: 400;
    margin: 0;
    text-transform: uppercase;
    color: #151723;
  }
  
  .notfound p {
    color: #999fa5;
    font-weight: 400;
    line-height: 1.5rem;
  }


  @media only screen and (max-width: 767px) {
    .notfound .notfound-404 {
      width: 110px;
      height: 110px;
    }
    .notfound {
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 110px;
    }
  }
  

  /* User profile page CSS */

.profile-page .profile-header {
    box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
}

.profile-page .profile-header .cover {
    position: relative;
    border-radius: .25rem .25rem 0 0;
}


.profile-page .profile-header .cover figure {
    margin-bottom: 0;
    height: 250px;
    overflow: hidden;
}

.profile-page .profile-header .cover .gray-shade {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(rgba(255, 255, 255, 0.1), #fff 99%);
}

.profile-page .profile-header .cover .cover-body {
    position: absolute;
    bottom: -20px;
    left: 0;
    z-index: 2;
    width: 100%;
    padding: 0 20px;
}

.profile-page .profile-pic {
    border-radius: 50%;
    width: 128px;
    height: 128px;
    object-fit: cover;
    outline-color: white;
    outline-width: 4px;
    outline-style: solid;
}

.profile-page .profile-header .cover figure img {
    /* border-radius: .25rem .25rem 0 0; */
    width: 100%;
}

.profile-page .profile-name {
    font-size: 26px;
    font-weight: 600;
    /* margin-left: 17px; */
}

.profile-page .header-links {
    padding: 15px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    background: #fff;
    border-radius: 0 0 .25rem .25rem;
}

.profile-page .header-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

.profile-page .header-links ul li a {
    color: #000;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    text-decoration: none;
}

.profile-page .header-links ul li:hover,
.profile-page .header-links ul li.active {
    color: var(--color-highlighting-blue);
}

.profile-page .header-links ul li:hover a,
.profile-page .header-links ul li.active a {
    color: var(--color-highlighting-blue);
}

.profile-page .profile-body .left-wrapper .social-links a {
    width: 30px;
    height: 30px;
}

.profile-page .profile-body .right-wrapper .latest-photos>.row {
    margin-right: 0;
    margin-left: 0;
}

.profile-page .profile-body .right-wrapper .latest-photos>.row>div {
    padding-left: 3px;
    padding-right: 3px;
}

.profile-page .profile-body .right-wrapper .latest-photos>.row>div figure {
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    margin-bottom: 6px;
}

.profile-page .profile-body .right-wrapper .latest-photos>.row>div figure:hover {
    -webkit-transform: scale(1.06);
    transform: scale(1.06);
}

.profile-page .profile-body .right-wrapper .latest-photos>.row>div figure img {
    border-radius: .25rem;
}

.profile-page .profile-header .cover .cover-body .profile-name {
    margin-left: 0;
    margin-right: 17px;
}

 .img-xs {
    width: 42px;
    height: 42px;
}

.rounded-circle {
    border-radius: 50% !important;
}

.profile-page img {
    vertical-align: middle;
    border-style: none;
}

.profile-page .card-header:first-child {
    border-radius: 0 0 0 0;
}

.profile-page .card-header {
    padding: 0.875rem 1.5rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 1px solid #f2f4f9;
}

.profile-page .card-footer:last-child {
    border-radius: 0 0 0 0;
}

.profile-page .card-footer {
    padding: 0.875rem 1.5rem;
    background-color: rgba(0, 0, 0, 0);
    border-top: 1px solid #f2f4f9;
}

.profile-page .card {
    box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
    -webkit-box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
    -moz-box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
    -ms-box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
}

.rounded {
    border-radius: 0.25rem !important;
}

.profile-page .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #f2f4f9;
    border-radius: 0.25rem;
}

.profile-page .change-profile-image-icon-container {
    bottom: -2px; 
    left: 62%;
    background-color: rgba(0, 0, 0, .5);
    width: 35px;
    height: 35px;
    position: absolute;
    padding: .43rem;
    border-radius: 50%;
}
.profile-page .change-profile-image-icon-container span {
    font-size: 22px;
}
.profile-page .change-profile-image-icon-container:hover {
    background-color: rgba(0, 0, 0, .8);
}
.profile-page .cover-image-change-icon {
    position: absolute;
    right: 50px;
    bottom: 50px;
    z-index: 1;
    display: flex;
    background-color: rgba(0, 0, 0, .3);
    padding: .6rem;
    border-radius: 6px;
    color: #fff;
    transition: .1s;
}

.profile-page .cover-image-change-icon .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 600, 'GRAD' 0, 'opsz' 28;
    font-size: 20px;
}

.profile-page .cover-image-change-icon:hover {
    color: #dddddd;
}

.common-styles-css .card {
    box-shadow: 0 0.15rem 1.75rem 0 rgba(33, 40, 50, .15);
}

.common-styles-css .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.common-styles-css .card-header {
    padding: 1rem 1.35rem;
    margin-bottom: 0;
    background-color: rgba(33, 40, 50, 0.03);
    border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}

.common-styles-css .card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}
.common-styles-css .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: #000;
}

.common-styles-css nav a, .common-styles-css nav .nav-link, .common-styles-css nav .nav-btn {
    color: black;
    position: relative;
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x)!important;
    font-weight: 500!important;
    text-transform: none;
    cursor: pointer;
}

.common-styles-css nav .active::after {
    content: '';
    width: auto;
    height: 0px;
    background-color: none;
    position: relative;
    bottom: 0;
    left: 0;
}

.common-styles-css nav .nav-link:hover {
    color: gray;
}

.common-styles-css nav .nav-link.active:hover {
    color: white;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col,
.gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.bg-transparent {
    background-color: transparent!important;
}
.w-90 {
    width: 90%!important;
}
.w-95 {
    width: 95%!important;
}
.text-lowercase {
    text-transform: lowercase !important; }
  
  .text-uppercase {
    text-transform: uppercase !important; }
  
  .text-capitalize {
    text-transform: capitalize !important; }
  
  .font-weight-light {
    font-weight: 300 !important; }
  
  .font-weight-lighter {
    font-weight: lighter !important; }
  
  .font-weight-normal {
    font-weight: 400 !important; }
  
  .font-weight-bold {
    font-weight: 700 !important; }
  
  .font-weight-bolder {
    font-weight: bolder !important; }
.text-normal {
    text-transform: none;
}
.text-ellipse {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
.text-ellipse-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    word-break: break-all;
    text-overflow: ellipsis;
}
.text-ellipse-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    word-break: break-all;
    text-overflow: ellipsis;
}
.text-ellipse-4 {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    word-break: break-all;
    text-overflow: ellipsis;
}
.display-7 {
    font-size: calc(1.325rem + .3vw);
    font-weight: 300;
    line-height: 1.2;
}
.display-8 {
    font-size: calc(1.325rem  + .01vw);
    font-weight: 300;
    line-height: 1.2;
}
.text-left {
    text-align: left !important; }
  
  .text-right {
    text-align: right !important; }
  
  .text-center {
    text-align: center !important; }
.img-lg {
    width: 92px;
    height: 92px; }
  
  .img-sm {
    width: 43px;
    height: 43px; }
  
  .img-xs {
    width: 37px;
    height: 37px; }
  
  .img-ss {
    width: 26px;
    height: 26px; }

.icon-lg {
    font-size: 3.438rem; }
    
    .icon-md {
    font-size: 1.875rem; }
    
    .icon-sm {
    font-size: 1rem; }
  
.user-img-sm {
    width: 36px;
    height: 36px;
    border-radius: 100%;
}
.img-thumbnail {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    max-width: 100%;
    height: auto; }
.select2-search__field {
    min-height: 40px!important;
    padding-top: 0.7rem!important;
}
@media (max-width: 767px) {
    .profile-page .profile-header .cover figure {
        height: 160px;
        overflow: hidden;
    }

    .profile-page .profile-header .cover .cover-body .profile-name {
        font-size: 20px;
    }

    .profile-page .profile-header .cover figure img {
        -webkit-transform: scale(2);
        transform: scale(2);
        margin-top: 15px;
    }

    /* .profile-page .profile-header .cover .cover-body .profile-pic {
        width: 70px;
    } */

    .profile-page .cover-image-change-icon .material-symbols-outlined {
        font-variation-settings: 'FILL' 0, 'wght' 600, 'GRAD' 0, 'opsz' 28;
        font-size: 24px;
    }
}

@media (min-width: 2400px) {
    .profile-page .profile-header .cover figure {
        height: 280px;
        overflow: hidden;
    }

    .profile-page .profile-header .cover figure img {
        margin-top: -55px;
    }
}