<div class="card">
    <div class="card-body">
        <h5 class="card-title">Logo & Favicon</h5>

        <form id="site-config" class="row g-3">
            <div class="col-12">
                <label class="mb-1">Blog image</label>
                <input type="file" name="img[]" class="d-none" id="file-upload-input">
                <div class="form-group">
                    
                    <div class="input-group col-12">
                      <input type="text" class="form-control file-upload-info" id="file-upload-info" disabled="" placeholder="Upload Image">
                      <span class="input-group-append">
                        <button id="file-upload-btn" style="min-width: 130px;" class="file-upload-browse btn btn-primary" data-file-target="#file-upload-input" type="button">Upload</button>
                      </span>
                    </div>

                  </div>
            </div>

        </form>

    </div>
</div>