<div id="notfound">
    <div class="notfound">
        <div class="notfound-404"></div>
        <h1>404</h1>
        <h2><%= translate('common:oops_page_not_found') %></h2>
        <p class="mb-4"><%= translate('common:page_not_exist') %></p>
        <a href="/" class="main-button"><%= translate('common:back_to_homepage') %></a>
    </div>
</div>