<div class="container pt-5">
    <div class="consent border p-3">
        <div>
            <h4 class="font-weight-normal text-normal">This community collects and processes your data accordingly</h4>
        </div>
        
        <div class="">
            <p>We may collect various types of information, including:</p>
            <ul>
                <li>Your name, username, and email address</li>
                <li>Profile information and preferences</li>
                <li>Posts, comments, and other content you submit</li>
            </ul>
            <p>For more information please visit our <a href="#">privacy policy</a> page</p>
            <p>
                We utilize this data exclusively to tailor your involvement within this community, and also to link the content you create with your user account. During registration, you were requested to furnish a username and email address. You also have the option to supply supplementary details to enhance your user profile on this site.
            </p>
            <p>
                This data remains in our possession throughout the existence of your user account, and you hold the right to revoke your consent anytime by deleting your account. You are also entitled to request a copy of your contributions to this website through the Rights & Consent page, whenever you wish.
            </p>
        </div>
        
        <div class="">
            <b>Data Security & Emails</b>
            <p>We prioritize the security of your data and implement measures to protect it from unauthorized access or
                disclosure.</p>
            <p>
                Periodically, we'll email your registered address for updates and relevant notifications. You can adjust community digest frequency and email notification preferences in your user settings. This community doesn't send email digests unless changed in settings.
            </p>
        </div>
        
        <div class="">
            <b>Contact Us</b>
            <p>If you have questions about this privacy notice, please contact us at privacy@nodeblogger.com.</p>
        </div>
        
        <form id="consent-form">
            <div class="form-check">
                <input required class="form-check-input" name="data" type="checkbox" value="" id="agree-data-consent">
                <label class="form-check-label" for="agree-data-consent">
                    I allow consent to the collection and processing of my personal information on this website.
                </label>
              </div>
              <div class="form-check">
                <input required class="form-check-input" name="emails" type="checkbox" value="" id="agree-email-consent">
                <label class="form-check-label" for="agree-email-consent">
                    I allow consent to receive digest and notification emails from this website.
                </label>
              </div>

              <div class="form-group mt-3">
                <div class="w-auto">
                    <button type="submit" class="btn btn-dark border-0 px-3 me-2">Accept consent</button>
                    <button type="button" id="skip-consent" class="btn button-outlined">Remind me later</button>
                </div>
            </div>
        </form>

    </div>
    
</div>