        <div class="container py-5">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">Something went wrong!</h4>
                <p class="mb-0 w-100 text-ellipse-3"><%= path %></p>
                <hr>
                <p><%= error.message %></p>
            </div>
        </div>
    </section>
</body>

</html>