<div class="signin-page">
    <main class="main">
        <div class="container">
            <section class="col-12 col-md-6 col-lg-5 wrapper">
                <div class="heading">
                    <h1 class="text text-large">Create account</h1>
                    <p class="text text-normal">Already registered? <span><a href="/signin" class="text text-links">Sign in</a></span>
                    </p>
                </div>
                
                <form id="registeration-form" verified="false" action="/register" method="post" class="form needs-validation" novalidate>
                    <div class="input-control">
                        <label for="usernameOrEmail" class="input-label">Username or email address</label>
                        <input name="username" id="usernameOrEmail" class="input-field form-control" placeholder="Create an username or use email address" required>
                        <div id="username-status-text" class="invalid-feedback">
                            Please enter a username or email
                        </div>
                        <div id="username-status-text" class="show-input-status"></div>
                    </div>
                    <div class="input-control position-relative">
                        <label for="password-input" class="input-label">Password</label>
                        <input type="password" name="password" id="password-input" class="input-field form-control" placeholder="Create a password" required>
                        <div class="invalid-feedback">
                            Please create a password
                        </div>
                        <div id="password-status-text" class="show-input-status color-red"></div>
                    </div>
                    <div class="input-control position-relative">
                        <label for="confirm-password-input" class="input-label">Confirm password</label>
                        <input required type="password" name="confirmpassword" id="confirm-password-input" class="input-field form-control" placeholder="Confirm password">
                        <div class="invalid-feedback">
                            Please confirm your password before submitting
                        </div>
                        <div id="confirm-password-status-text" class="color-red show-input-status"></div>
                    </div>
                    <div class="input-control">
                    </div>
                    <button type="submit" class="input-submit mt-0 w-100 button-black">Register now</button>
                </form>
                
            </section>
        </div>
    </main>
</div>