<div class="signin-page">
    <main class="main">
        <div class="container">
            <section class="col-12 col-md-8 col-lg-6 wrapper">
                <div class="heading">
                    <h1 class="text text-large">Create account</h1>
                    <p class="text text-normal">Already registered? <span><a href="/signin" class="text text-links">Sign in</a></span>
                    </p>
                </div>

                <div id="errors-area" class="alert alert-danger alert-dismissible fade show" role="alert" style="display: none;">
                    <span></span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                
                <form id="registeration-form" verified="false" action="/register" method="post" class="form needs-validation" novalidate>
                    <div class="input-control">
                        <label for="usernameInput" class="input-label">Username</label>
                        <input name="username" id="usernameInput" class="input-field form-control" placeholder="Create an username" required>
                        <div class="invalid-feedback">
                            Please enter a username
                        </div>
                        <div id="username-status-text" class="show-input-status"></div>
                    </div>
                    <div class="input-control">
                        <label for="emailInput" class="input-label">Email</label>
                        <input name="email" type="email" id="emailInput" class="input-field form-control" placeholder="user@example.com" required>
                        <div class="invalid-feedback">
                            Please enter your email id
                        </div>
                        <div id="email-status-text" class="show-input-status"></div>
                    </div>
                    <div class="input-control position-relative">
                        <label for="password-input" class="input-label">Password</label>
                        <input type="password" name="password" id="password-input" class="input-field form-control" placeholder="Create a password" required>
                        <div class="invalid-feedback">
                            Please create a password
                        </div>
                        <div id="password-status-text" class="show-input-status color-red"></div>
                        <div id="password-strength-text" class="show-input-status" style="color: #626262; display: none;"></div>
                    </div>
                    <div class="input-control position-relative">
                        <label for="confirm-password-input" class="input-label">Confirm password</label>
                        <input required type="password" name="confirmpassword" id="confirm-password-input" class="input-field form-control" placeholder="Confirm password">
                        <div class="invalid-feedback">
                            Please confirm your password before submitting
                        </div>
                        <div id="confirm-password-status-text" class="color-red show-input-status"></div>
                    </div>
                    <div class="input-control">
                    </div>
                    <button type="submit" class="input-submit mt-0 w-100 button-black">Register now</button>
                </form>
                
            </section>
        </div>
    </main>
</div>