<div class="signin-page align-items-center">
    <main class="main">
        <div class="container">
            <section class="col-12 col-md-7 col-lg-5 mt-0 wrapper">
                <div class="heading">
                    <h1 class="text text-large">Password Reset</h1>
                    <p class="text text-normal">
                        Forgot your password? No worries! Enter your email address below to reset your password.
                    </p>
                </div>
                <form id="reset-password-form" method="post" action="/password/reset" class="form">
                    <div class="input-control">
                        <label for="emailId" class="input-label">Email address</label>
                        <input name="email" type="email" required id="emailId" class="input-field" placeholder="Your registered email address">
                    </div>
                    <button type="submit" class="input-submit mt-0 w-100 button-black">Continue</button>
                </form>
            </section>
        </div>
    </main>
</div>