<div class="modal fade" id="new-template-modal" data-bs-backdrop="static" data-bs-keyboard="false"
    aria-labelledby="new-template-modal-Label" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="new-template-modal-Label">Create new template</h4>
                <button type="button" id="close-create-modal" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form action="" id="new-template-modal-form">
                    <div class="form-group">
                        <label>Template name</label>
                        <input type="text" required name="name" class="form-control" placeholder="Enter name">
                    </div>
                    <div class="form-group position-relative" style="height: 320px;" id="new-template-code"></div>

                    <div class="d-inline-flex w-100 justify-content-end">
                        <button type="submit" id="new-template-btn" class="btn btn-primary">Create</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>