<div class="container">
    <div class="row pt-5">
        <%- include('/partials/breadcrumb'); -%>
        <form method="post" class="mt-4 create-post-">
            <div class="mb-3">
                <input type="text" style="text-transform: none;" class="form-control form-control-lg" id="post-title" placeholder="Enter your post's title here">
              </div>

            <textarea id="summernote" name="editordata"></textarea>
        </form>
        <div class="mt-3 d-flex justify-content-end">
            <button class="btn btn-sm secondary-button mt-0">Discard</button>
            <button class="btn btn-sm text-white border-4 button mt-0 ms-2">Create</button>
        </div>
    </div>
</div>