<div class="card">
    <div class="card-body">
        <h5 class="card-title">General</h5>

        <form id="category-general-settings" class="row g-3">
            <div class="col-12">
                <div class="form-floating">
                    <input type="text" name="maxCategoryBlurbLength" value="<%= data.maxCategoryBlurbLength %>" class="form-control" id="maxCategoryBlurbLength"
                        placeholder="">
                    <label for="maxCategoryBlurbLength">Maximum category blurb name</label>
                </div>
            </div>

        </form>

    </div>
</div>