</section>
<footer class="text-center  text-uppercase py-5">
    <div class="footer-icons ">
        <a href=""><img src="img/facebook-footer.svg" alt=""></a>
        <a href=""><img src="img/instagramm-footer.svg" alt=""></a>
        <a href=""><img src="img/pinterest-footer.svg" alt=""></a>
    </div>
    <div class="copyright pt-4 text-muted text-center">
        <p class="px-3">Copyright &copy; 2023 | Powered by Node Blogger </p>
        <!--
          This template is licenced under Attribution 3.0 (CC BY 3.0 PL),
          You are free to: Share and Adapt. You must give appropriate credit, you may do so in any reasonable manner, but not in any way that suggests the licensor endorses you or your use.
          -->
    </div>
</footer>
</body>

</html>