<footer class="text-center  text-uppercase py-5">
    <div class="footer-icons ">
        <a href=""><img src="img/facebook-footer.svg" alt=""></a>
        <a href=""><img src="img/instagramm-footer.svg" alt=""></a>
        <a href=""><img src="img/pinterest-footer.svg" alt=""></a>
    </div>
    <div class="copyright pt-4 text-muted text-center">
        <p>&copy; 2023 Node Blogger | Created by <a href="https://www.imshawan.dev" title="" target="_blank">Shawan
                Mandal</a> </p>
        <!--
          This template is licenced under Attribution 3.0 (CC BY 3.0 PL),
          You are free to: Share and Adapt. You must give appropriate credit, you may do so in any reasonable manner, but not in any way that suggests the licensor endorses you or your use.
          -->
    </div>
</footer>
<div class="fb2022-copy">Node Blogger 2023 copyright</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous">
</script>

<% scripts.forEach(function(elem) { %>
    <script src="<%= elem %>"></script>
    <% }); %>

</html>