<div class="ms-md-5 loggedin-user-dropdown dropdown">
    <a href="#"
        class="d-flex align-items-center justify-content-center px-3 link-dark text-decoration-none dropdown-toggle"
        id="dropdown-user" data-bs-toggle="dropdown" aria-expanded="false">
        <img crossorigin="anonymous" src="<%= user.picture %>" alt="mdo" width="30" height="30" class="rounded-circle">
    </a>
    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdown-user">
        <li>
            <a class="dropdown-item" href="/users/<%= user.username %>">Profile</a>
        </li>
        <li>
            <a class="dropdown-item" href="/users/<%= user.username %>/edit">Settings</a>
        </li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li>
            <form id="signout-form">
                <button type="submit" class="dropdown-item">Sign out</button>
            </form>
        </li>
    </ul>
</div>