<header id="home">
    <nav id="#navbar" class="navbar shadow-bg navbar-expand-lg position-fixed top-0 w-100">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <!-- Logo comes here -->
                <img src="img/logo-blog.png" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ms-auto">
                    <a class="nav-link active" href="/">home</a>

                    <% if (_meta && _meta.isAdministrator ) { %>
                        <a class="nav-link" href="/admin">Admin</a>
                    <% } %>

                    <a class="nav-link" href="/categories">Categories</a>
                    <a class="nav-link" href="/posts">Posts</a>
                    <a class="nav-link" href="/contact">contact</a>
                    <a class="nav-link" href="/about">about</a>

                    <% if (!_meta.authenticated) { %>
                        <a class="nav-link" href="/signin">Sign in</a>
                    <% } else { %>
                        <%- include('/partials/loggedin_usernav'); -%>
                    <% } %>
                    
                </div>
            </div>
        </div>
    </nav>
</header>