<section class="section">
  <div class="row">
    <div class="col-12">
      <%- include('/admin/settings/site/partials/meta'); -%>
    </div>

    <div class="col-12">
      <%- include('/admin/settings/site/partials/assets'); -%>
    </div>

  </div>
</section>