<div id="notfound">
    <div class="notfound">
        <div class="notfound-404"></div>
        <h1 class="text-danger">401</h1>
        <h2><%= translate('admin.common:unauthorized_access_title') %></h2>
        <p class="mb-4"><%= translate('admin.common:unauthorized_access_description') %></p>
        <a href="/" class="main-button"><%= translate('admin.common:back_to_homepage') %></a>
    </div>
</div>
