<div id="notfound">
    <div class="notfound">
        <div class="notfound-404"></div>
        <h1 class="text-danger">401</h1>
        <h2>Oops! Unauthorized access</h2>
        <p class="mb-4">Sorry but the page you are looking requires administrative permissoons. Please ensure you have the necessary permissions to view this content or contact the administrator for access rights.</p>
            <a href="/" class="main-button">Back to homepage</a>
        </div>
</div>