      <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading"><%= translate('admin.common:went_wrong') %></h4>
        <p class="mb-0"><%= path %></p>
        <hr>
        <p><%= error.message %></p>
      </div>
</section>
</body>

</html>